@model VisualOS.DAL.tb_cargo

@{
    ViewBag.Title = "DetalhesCargo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes Cargo</h2>

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditarCargo", "Editar") |
    @Html.ActionLink("Voltar", "PesquisarCargo", "Pesquisas")
</p>
